<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
     <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link th:href="@{css/style.css}" rel="stylesheet" />
</head>
<body>
<div id="container">
    <h1>Log in</h1>
    <div id="formHolder">
        <form method="post" action="/login">
            <label>Username or email:</label>
            <p><input class="sizeChange" type="text" placeholder="Enter your username or email" name="username"></p>
            <div id="pass">
                <label>Password</label>
                <p><input class="sizeChange" type="password" placeholder="Enter your password" name="password"></p>
            </div>
            <p id="checkbox"><input type="checkbox" name="remember"> Remember me</p>
            <input id="button" type="submit" value="Login">
        </form>
<!--        <div id="linkPassword">-->
<!--            <p><a href="">Forgot password?</a></p>-->
<!--        </div>-->
        <div id="linkAccount">
            <p><a href="/register">Don't have an account yet? Sign up <p>now.</p> </a></p>
        </div>
    </div>
</div>
</body>
</html>